<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/admin/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
    </style>

    <title>Verifier Dashboard</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
      <%- include('components/nav') %>

        <!-- Content -->
        <div class="content col-md-9 table-responsive">
          <!-- Table -->
          <table class="table table-bordered caption-top mt-5 " id="contentToPrint">
            <form action="dashboard" method="get" >
              <div class="filter-container" >
              <select name="event" id="">
                <option value="codex">Codex</option>
                <option value="webcast">Webcast</option>
                <option value="photography">Photography</option>
                <option value="choreography">Choreography</option>
                <option value="crime">Crime Investigation</option>
                <option value="football">Football</option>
                <option value="gaming">Video Gaming</option>
                <option value="itquiz">IT Quiz</option>
                <option value="cipher">Crack The Cipher</option>
                <option value="reconcile">Reconcile</option>
                <option value="band">Band</option>
                <option value="trivia">Trivia Fiesta</option>
              </select>
              <select name="category" id="">
                <option value="spot">Spot Registration</option>
                <option value="online">Online Registration</option>
              </select>
              
              <button class="btn btn-primary filter-btn">Filter</button>
            </div>
            </form>
            <h2 class="text-center text-secondary mt-5 fw-bold"><%= event_name %> - <%= name %></h2>
            <% if (event.length==0) { %>
          
            <h6 class="text-center">No Participants Registered</h6>
            <% }else{ %>
           
            <caption>
              List of Users
            </caption>
            <thead class="thead-dark">
              <tr>
                <th class="text-dark">SlNo.</th>
                <th class="text-dark">Chess No.</th>
                <th class="text-dark">Name</th>
                <th class="text-dark">Email</th>
                <th class="text-dark">College</th>
                <th class="text-dark">Department</th>
                <th class="text-dark">Mobile</th>
                <% if(event[0].dataValues.transactionid){ %>
                <th class="text-dark">TransactionID</th>
                <th class="text-dark">Payment</th>
                <% } %>
              </tr>
            </thead>

            <tbody>
              <% for( let i = 0; i < event.length; i++ ) { %>

              <tr>
                <td><%= i+1 %></td>
                <td><%= event[i].dataValues.id %></td>
                <td><%= event[i].dataValues.name %></td>
                <td><%= event[i].dataValues.email %></td>
                <td><%= event[i].dataValues.college %></td>
                <td><%= event[i].dataValues.department %></td>
                <td><%= event[i].dataValues.mobile %></td>
                <% if(event[i].dataValues.transactionid){ %>
                <td><%= event[i].dataValues.transactionid %></td>
                <td><a href="<%= event[i].dataValues.payment %>" target="_blank"><img src="<%= event[i].dataValues.payment %>" height="300" width="200" alt=""></a></td>
                <% } %>
              </tr>
              <% } %>

              <!-- Add more rows as needed -->
            </tbody>
            <% } %>
          </table>
        </div>
      </div>
    </div>

   

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
